.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
    /* width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
    /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #666;
    /* color of the scrollbar handle */
    border-radius: 5px;
    /* roundness of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
    /* color of the scrollbar handle on hover */
}